.createMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}

.createMenu>div{
    display: flex ;
    gap: 12rem;
}

.createMenu>div>div{
    display: flex;
    flex-direction: column;
}

.createMenu>div>div>input{
    padding: 0.8rem;
    margin-top: 8px;
}

.textAreaDiv{
    display: flex;
    justify-content: center;
}

.textArea{
    display: flex;
    gap: 2rem;
    
}

@media (max-width: 1200px) {

    .textArea{
        width: 85%;
    }

   
}
