.itemData {
    display: flex;
    align-items: center;
    gap: 1rem; /* 18rem * 0.8 */
    background-color: rgb(15, 15, 15);
    margin-top: 1.6rem; /* 2rem * 0.8 */
    padding: 1.6rem; /* 2rem * 0.8 */
}

.description {
    display: flex;
    align-items: center;
    gap: 1rem; 
    background-color:rgb(22, 22, 22);
    padding: 1rem;
}


.itemInformation {
    display: flex;
    gap: 2rem;
}


.itemInformation>label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    width: 12rem;
    text-align: center;
    border-radius: 1rem;
    background-color:rgb(22, 22, 22);
    
}

.buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(22, 22, 22);
    padding: 0.8rem;
    width: 15rem;
    border-radius: 1rem;
    

 }


 .buttonsDiv{
    display: flex;
    text-align: center;
    padding: 1rem;
    gap: 0.5rem;
   
 }

.buttonsDiv>a {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    width: 2rem;
    border-radius: 0.5rem;
    font-size: small;
}
 
 
